{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Gallery.Admin/operations?api-version=2015-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Gallery.Admin/galleryItems/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Gallery Administration Service\",\r\n        \"resource\": \"Gallery Item\",\r\n        \"operation\": \"Get Gallery Items\",\r\n        \"description\": \"Gets the gallery items.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Gallery.Admin/galleryItems/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Gallery Administration Service\",\r\n        \"resource\": \"Gallery Item\",\r\n        \"operation\": \"Upload Gallery Item\",\r\n        \"description\": \"Uploads a gallery item.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Gallery.Admin/galleryItems/delete\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Gallery Administration Service\",\r\n        \"resource\": \"Gallery Item\",\r\n        \"operation\": \"Delete Gallery Item\",\r\n        \"description\": \"Deletes a gallery item.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Gallery.Admin/operations/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Gallery Administration Service\",\r\n        \"resource\": \"Operation\",\r\n        \"operation\": \"List Operations\",\r\n        \"description\": \"Lists the supported operations.\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-version": [
          "5.2.1.252 (AzureUX-Store:master.94b0f64.170509-1605)"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14971"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0ff0bbbe-d68d-4314-8f68-80a808b5a6ec"
  }
}