{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Subscriptions.Admin/offers?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/offers/offer1\",\r\n      \"name\": \"offer1\",\r\n      \"type\": \"Microsoft.Subscriptions.Admin/offers\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"name\": \"offer1\",\r\n        \"displayName\": \"offer1\",\r\n        \"description\": \"\",\r\n        \"externalReferenceId\": \"\",\r\n        \"state\": \"Public\",\r\n        \"subscriptionCount\": 1,\r\n        \"maxSubscriptionsPerAccount\": 0,\r\n        \"basePlanIds\": [\r\n          \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/plans/plan1\"\r\n        ],\r\n        \"addonPlans\": []\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/offers/offersub\",\r\n      \"name\": \"offersub\",\r\n      \"type\": \"Microsoft.Subscriptions.Admin/offers\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"name\": \"offersub\",\r\n        \"displayName\": \"offersub\",\r\n        \"description\": \"\",\r\n        \"externalReferenceId\": \"\",\r\n       [...]
    {
      "RequestUri": "/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Subscriptions.Admin/subscriptions/142e5aa1-4b05-43b7-aeee-9598c49caba3?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"delegatedProviderSubscriptionId\": \"ca831431-dac2-4466-a538-59fa3f882f68\",\r\n  \"displayName\": \"Test Subscription\",\r\n  \"offerId\": \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/offers/offer1\",\r\n  \"owner\": \"tenantadmin1@msazurestack.onmicrosoft.com\",\r\n  \"state\": \"Enabled\",\r\n  \"subscriptionId\": \"142e5aa1-4b05-43b7-aeee-9598c49caba3\",\r\n  \"tenantId\": \"d669642b-89ec-466e-af2c-2ceab9fef685\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Subscriptions.Admin/subscriptions/142e5aa1-4b05-43b7-aeee-9598c49caba3\",\r\n  \"subscriptionId\": \"142e5aa1-4b05-43b7-aeee-9598c49caba3\",\r\n  \"delegatedProviderSubscriptionId\": \"ca831431-dac2-4466-a538-59fa3f882f68\",\r\n  \"displayName\": \"Test Subscription\",\r\n  \"owner\": \"tenantadmin1@msazurestack.onmicrosoft.com\",\r\n  \"tenantId\": \"d669642b-89ec-466e-af2c-2ceab9fef685\",\r\n  \"routingResourceManagerType\": \"Default\",\r\n  \"offerId\": \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/offers/offer1\",\r\n  \"state\": \"Enabled\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Subscriptions.Admin/subscriptions/142e5aa1-4b05-43b7-aeee-9598c49caba3?api-version=2015-11-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ca831431-dac2-4466-a538-59fa3f882f68"
  }
}